@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;800;900&display=swap");
@import "variables";

body {
  background-image: url("grayGeometric.jpg");
  background-color: hsla(0, 0%, 10%, 0.6);
  background-size: cover;
  background-blend-mode: soft-light;
  background-position: center;
  margin-bottom: 10rem;
  text-shadow: 0.5px 0.5px 1px black;
}

.navbar {
  color: $primary;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  font-size: clamp(1rem, 1vw, 1.2rem);
  font-weight: 100;

  .bars {
    font-size: 1.5rem;
    display: none;
    transition: transform 200ms ease-in;

    &:hover {
      @include iconHover();
    }
  }

  h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .originalList {
    list-style: none;
    display: flex;
    gap: 3rem;

    a {
      @include listItem();
    }
  }
}

.hiddenList {
  position: fixed;
  left: 100%;
  top: 0;
  background-color: $primary;
  padding: 10em 4em;
  text-align: center;
  height: 100vh;
  transition: left $sidebarTime ease-in;
  text-shadow: none;

  .closeButton {
    color: $secondary;
    font-size: 2rem;
    position: absolute;
    top: 32px;
    right: 32px;
    transition: transform 200ms ease-in;

    &:hover {
      @include iconHover();
    }
  }

  ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    flex-direction: column;
  }

  a {
    @include listItem();
    color: $secondary;

    &::after {
      background-color: $secondary;
    }
  }
}

.hero {
  text-align: center;
  padding: 7em 0.3em;
  font-size: clamp(1.3rem, 2vw, 2.3rem);
  letter-spacing: 3px;
  color: $primary;
}

.mainContent {
  text-align: center;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9rem;
  color: $primary;

  .box {
    width: clamp(30ch, 40vw, 50ch);

    h1 {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 600px) {
  .navbar {
    .originalList {
      display: none;
    }

    .bars {
      display: block;
    }
  }
}
