* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('//unsplash.it/900/900');
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100vw;
}

h1 {
    font-size: 3rem;
}
